/Crop/input
/Crop/image
/Crop/label
/Crop/output
/Crop_2/input
/Crop_2/output
/Crop_2/image
/Crop_2/label
/Crop/c000_p003.tif
/Crop/c001.tif
/Tile/F-actin/TransUNet/pred/c001_1_p147_z006_pred.tif
/Tile/F-actin/TransUNet/pred/c001_2_p147_z006_pred.tif
/Tile/F-actin/TransUNet/pred/c001_3_p147_z006_pred.tif
/Tile/F-actin/TransUNet/pred/c001_4_p147_z006_pred.tif
/Tile/F-actin/TransUNet/pred/c001_5_p147_z006_pred.tif
/Tile/F-actin/TransUNet/pred/c001_6_p147_z006_pred.tif
/Tile/F-actin/TransUNet/pred/c001_7_p147_z006_pred.tif
/Tile/F-actin/TransUNet/pred/c001_8_p147_z006_pred.tif
/Tile/F-actin/TransUNet/pred/c001_9_p147_z006_pred.tif
/Tile/F-actin/TransUNet/pred/c001_10_p147_z006_pred.tif
/Tile/F-actin/TransUNet/pred/c001_11_p147_z006_pred.tif
/Tile/F-actin/TransUNet/pred/c001_12_p147_z006_pred.tif
/Tile/F-actin/TransUNet/pred/c001_13_p147_z006_pred.tif
/Tile/F-actin/TransUNet/pred/c001_14_p147_z006_pred.tif
/Tile/F-actin/TransUNet/pred/c001_15_p147_z006_pred.tif
/Tile/F-actin/TransUNet/pred/c001_16_p147_z006_pred.tif
/.idea/jupyter-settings.xml
/Tile/F-actin/ResUNet/p003_z010_pred.tif
/Staining/F-actin/TransUNet/out_put/p147_z006.jpg
/Staining/F-actin/UTransform/out_put/p147_z006.jpg
/Tile/F-actin/TransFuse/p147_z006_image.tif
/Tile/F-actin/TransFuse/p147_z006_label.tif
/Staining/F-actin/TransUNet/out_put/p147_z006_overlay.jpg
/Staining/F-actin/UTransform/out_put/p147_z006_overlay.jpg
/Tile/F-actin/ResUNet/p147_z006_pred_ResUNet.tif
/Tile/F-actin/TransFuse/p147_z006_pred_TransFuse.tif
/Staining/F-actin/TransUNet/p147_z006_pred_TransUNet.tif
/Tile/F-actin/TransUNet/p147_z006_pred_TransUNet.tif
/Tile/F-actin/UTransform/p003_z012_pred_UTransform.tif
/Staining/F-actin/UTransform/out_put/p147_z006_v2.jpg
/Staining/F-actin/UTransform/out_put/p147_z006_v2_overlay.jpg
/Crop_2/ResUNet_pred.tif
/Matplot/Nuclei/ResUNet_train_loss_nuclei.npy
/Matplot/F-actin/train_loss.png
/Matplot/Nuclei/train_loss_nuclei.png
/Matplot/Nuclei/train_loss_nuclei_v2.png
/Matplot/Nuclei/train_loss_nuclei_v3.png
/Matplot/F-actin/train_loss_v2.png
/Matplot/F-actin/train_loss_v3.png
/Matplot/F-actin/TransFuse_train_loss.npy
/Crop_2/TransUNet_pred.tif
/Matplot/Nuclei/TransUNet_train_loss_nuclei.npy
/Crop_2/UTransform_pred.tif
/Matplot/F-actin/UTransform_train_loss_F-actin.npy
/Tile/F-actin/
/Tile/Nuclei/
/Graph/data/
/Graph/demo/
/Graph/boxplot/
/Crop_nuclei/input/
/Crop_nuclei/output/
/Crop_nuclei/pred/
/Crop/Crop_2/
/Matplot/Plot Values/F-actin/data/
/Graph/Violinplot/MA-GAN/data/
/Graph/Violinplot/MA-GAN/data/
